@use "variables" as *;

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

button {
	outline: none;
	border: none;
	background: none;
	padding: 0;
   -webkit-tap-highlight-color: transparent;

   cursor: pointer;
   user-select: none;

   &:focus {
      outline: 1px solid $color-primary-orange;
   }

}

ul {
	list-style: none;
}

a {
   -webkit-tap-highlight-color: transparent;
   cursor: pointer;
   user-select: none;

   &:focus {
      outline: 1px solid $color-primary-orange;
   }
}