@use '../util/' as *;
@use 'breakpoints' as *;
@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.1;
	margin-top: 0;
}

h1 {
   // font-size: 1.8rem;
   font-size: responsive(375px, 1440px, 28.8px, 44.8px);
   margin-bottom: 12px;

   // @include breakpoint-up(lg) {
   //    font-size: 2.8rem;
   // }
}

p {
	margin-top: 0;
   line-height: 1.6;
   color: $color-dark-grayish-blue;
}

a,
a:visited,
a:active {
	text-decoration: none;
   color: $color-x-dark-blue;
   font-weight: 700;

   @media (min-width: $header-menu-breakpoint) {
      color: $color-dark-grayish-blue;
      &:hover {
         color: $color-x-dark-blue;
      }
   }
}

button {
   font-size: inherit;
}